body {
  background-color: black;
  width: 100vw;
  height: 100vh;
}
img {
  width: 100%;
}
.img-container {
  position: relative;
  display: inline-block;
}
.img-container img {
  display: block;
}
.img-container .overlay {
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 70%;
  width: 100%;
  height: 10%;
  opacity: 100%;
  transition: opacity 500ms ease-in-out;
}
.img-container:hover .overlay {
  opacity: 1;
}
.overlay span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
